.drop-down {
    display: none;

    @media all and (min-width: 768px) {
      align-items: center;
      display: flex;
      justify-content: space-between;

      & select {
        width: 131px;
        height: 28px;
        border: 2px solid #333333;
      }
  }
}